@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@font-face{
    font-family: "Raleway";
    src: url('../fonts/Raleway-Regular.woff');
    src: url('../fonts/Raleway-Italic.woff');
    src: url('../fonts/Raleway-Bold.woff');
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    src: url('../fonts/Raleway-Italic.ttf') format('truetype');
    src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}
body{
    display: block;
    width: 1160px;
    margin: auto;
    padding: 0 387px 0 387px;
}

#section-header-1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: #782221;
    color: white;
}

#section-header-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #2c1d27;
    color: white;
}

#article-1{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    
}

#article-2{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    background-color: white;
}

main{
    display: flex;
    flex-direction: row;
    background-color: #782221;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #782221;
}

#h2-1-article-1{
    background-color: #dbc2a4;
}

#h2-2-article-1{
    background-color: #dbc2a4;
}

#h2-3-article-1{
    background-color: #dbc2a4;
}

#h2-1-article-2{
    background-color: #dbc2a4;
}

#h2-2-article-2{
    background-color: #dbc2a4;
}

#h2-3-article-2{
    background-color: #dbc2a4;
}

#p-1-article-1{
    color: white;
}

#ul-1-article-1{
    color: white;
}
#ul-2-article-1{
    color: white;
}






